<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.awesomestorage.dao.mapper.StockEnhanceMapper">
    <update id="deductStock">
        update stock_xa_tbl
        set count = count - #{count,jdbcType=INTEGER}
        where commodity_code = #{commodityCode,jdbcType=VARCHAR}
          and count <![CDATA[ >= ]]> #{count,jdbcType=INTEGER}
    </update>
</mapper>